body {
   background: #099;
 }

 h1 {
 }

 nav {
   display: flex;
   background-color: purple;
 }

 nav a {
   background-color: grey;
   color: orange;
   padding: 10px;
   margin: 10px;

   transition: background-color 0.3s;
 }

 nav a:hover {
  background-color: white;
}

header, main {
  background-color: silver;
  overflow: auto;
}
